<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <patternLayout pattern="%d  %t %level %c %msg %n"/>
        </Console>

    <File name="File" fileName="MyApp.log">
        <patternLayout pattern="%d {yyyy-mm-dd HH:MM:SS} [%t] %-5level % -50c{1.} - %msg%n"/>
    </File>

    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
